In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from importlib import reload
import ast
import json

import plotting
import toolbox as tb
import feature_creation

# reload modules
tb = reload(tb)
plotting = reload(plotting)
feature_creation = reload(feature_creation)

from plotting import Plotter

from feature_creation import YNormal
from feature_creation import featurize
from feature_creation import my_get_dummies

Load data.

In [2]:
train_data = pd.read_csv('dataset/train.csv')
validation = pd.read_csv('dataset/validation.csv')
test_data = pd.read_csv('dataset/test.csv')

train_data.shape, validation.shape, test_data.shape

((2250, 24), (750, 24), (4398, 22))

In [3]:
train_data

,Unnamed: 0,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,750,751,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0332047,en,Fever Pitch,When relaxed and charming Ben Wrightman meets ...,...,4/6/05,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Comedy About The Game of Love.,Fever Pitch,"[{'id': 1480, 'name': 'baseball'}, {'id': 3419...","[{'cast_id': 1, 'character': 'Lindsey Meeks', ...","[{'credit_id': '52fe443f9251416c7502df99', 'de...",50451307
1,751,752,"[{'id': 5039, 'name': 'Rambo Collection', 'pos...",50000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.rambofilm.com/,tt0462499,en,Rambo,When governments fail to act on behalf of capt...,...,1/24/08,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Heroes never die... They just reload.,Rambo,"[{'id': 440, 'name': 'missionary'}, {'id': 126...","[{'cast_id': 12, 'character': 'John Rambo', 'c...","[{'credit_id': '55c8e0ff92514177c9000085', 'de...",113244290
2,752,753,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",NaN,tt0175844,en,Lenny Bruce: Swear to Tell the Truth,"In 1948, Lenny Bruce was just another comic wh...",...,10/21/98,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A documentary about the comic who invented con...,Lenny Bruce: Swear to Tell the Truth,"[{'id': 3485, 'name': 'comedian'}, {'id': 5565...","[{'cast_id': 1, 'character': 'Himself / Narrat...","[{'credit_id': '52fe4a19c3a36847f81b92ff', 'de...",21350
3,753,754,"[{'id': 59586, 'name': 'The Blue Lagoon collec...",4500000,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,tt0080453,en,The Blue Lagoon,Two small children and a ship's cook survive a...,...,7/5/80,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A sensuous story of natural love.,The Blue Lagoon,"[{'id': 566, 'name': 'sexual identity'}, {'id'...","[{'cast_id': 7, 'character': 'Emmeline', 'cred...","[{'credit_id': '52fe4418c3a36847f8081fa3', 'de...",58853106
4,754,755,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.paramountvantage.com/virginsuicides...,tt0159097,en,The Virgin Suicides,A group of male friends become obsessed with f...,...,4/21/99,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Beautiful, mysterious, haunting, invariably fa...",The Virgin Suicides,"[{'id': 933, 'name': 'michigan'}, {'id': 1228,...","[{'cast_id': 17, 'character': 'Mr. Lisbon', 'c...","[{'credit_id': '52fe42f8c3a36847f80308d5', 'de...",10409377
5,755,756,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10402...",NaN,tt0082009,en,American Pop,American Pop is an American animated film that...,...,2/13/81,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"All those years, all those dreams, all those s...",American Pop,"[{'id': 637, 'name': 'pop'}, {'id': 1416, 'nam...","[{'cast_id': 3, 'character': 'Tony Belinksy / ...","[{'credit_id': '52fe45cfc3a368484e070365', 'de...",6000000
6,756,757,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,tt0108656,cn,重案組,A special agent assigned to protect a wealthy ...,...,6/24/93,103.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,The world's toughest city needs more than an a...,Crime Story,"[{'id': 1562, 'name': 'hostage'}, {'id': 1930,...","[{'cast_id': 2, 'character': 'Inspector Eddie ...","[{'credit_id': '58bac867c3a368666b02027b', 'de...",194720
7,757,758,NaN,80000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0369436,en,Four Christmases,Brad and Kate have made something of an art fo...,...,11/26/08,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"His father, her mother, his mother and her fat...",Four Christmases,"[{'id': 65, 'name': 'holiday'}, {'id': 9799, '...","[{'cast_id': 2, 'character': 'Brad McVie', 'cr...","[{'credit_id': '52fe44c89251416c75040bed', 'de...",163733697
8,758,759,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt4085944,fr,Lolo,"On holiday in the south of France, chic Parisi...",...,9/3/15,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Lolo,"[{'id': 90, 'name': 'paris'}, {'id': 5091, 'na...","[{'cast_id': 10, 'character': 'Violette', 'cre...","[{'credit_id': '55603650c3a3683b52003dd9', 'de...",24134
9,759,760,NaN,23000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",http://wip.warnerbros.com/inthevalleyofelah/,tt0478134,en,In the Valley of Elah,A career officer and his wife work with a poli...,...,8/31/07,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sometimes finding the truth is easier than fac...,In the Valley of Elah,"[{'id': 494, 'name': 'father son relationship'...","[{'cast_id': 1, 'character': 'Hank Deerfield',...","[{'credit_id': '52fe446dc3a36847f809557b', 'de...",29541790
10,760,761,NaN,6500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0427944,en,Thank You for Smoking,The chief spokesperson and lobbyist Nick Naylo...,...,9/5/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tobacco lobbyist Nick Naylor is trying to SAVE...,Thank You for Smoking,"[{'id': 494, 'name': 'father son relationship'...","[{'cast_id': 23, 'character': 'Nick Naylor', '...","[{'credit_id': '5671ad939251416374002bde', 'de...",24793509
11,761,762,NaN,15000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2463288,en,Walk of Shame,A reporter's dream of becoming a news anchor i...,...,5/2/14,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Awesome night. Epic aftermath.,Walk of Shame,"[{'id': 736, 'name': 'journalist'}, {'id': 286...","[{'cast_id': 1, 'character': 'Meghan Miles', '...","[{'credit_id': '52fe4d1f9251416c75130b35', 'de...",59209
12,762,763,NaN,2000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,tt0405094,de,Das Leben der Anderen,A tragic love story set in East Berlin with th...,...,3/15/06,137.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"Before the Fall of the Berlin Wall, East Germa...",The Lives of Others,"[{'id': 74, 'name': 'germany'}, {'id': 220, 'n...","[{'cast_id': 7, 'character': 'Christa-Maria Si...","[{'credit_id': '564fcf649251414b070058b5', 'de...",70000000
13,763,764,"[{'id': 416468, 'name': 'World War Z Collectio...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.worldwarzmovie.com,tt0816711,en,World War Z,Life for former United Nations investigator Ge...,...,6/20/13,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Remember Philly!,World War Z,"[{'id': 4565, 'name': 'dystopia'}, {'id': 1233...","[{'cast_id': 4, 'character': 'Gerry Lane', 'cr...","[{'credit_id': '570bbe9ec3a3684b50000391', 'de...",531865000
14,764,765,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0098260,en,Scandal,An English bon-vivant osteopath is enchanted w...,...,3/3/89,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story that seduced the world is now the mo...,Scandal,"[{'id': 212, 'name': 'london england'}, {'id':...","[{'cast_id': 1, 'character': 'Stephen Ward', '...","[{'credit_id': '52fe44c89251416c9101ca39', 'de...",8800000
15,765,766,NaN,105000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",https://www.facebook.com/PointBreakMovie,tt2058673,en,Point Break,A young undercover FBI agent infiltrates a gan...,...,12/3/15,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The only law that matters is gravity,Point Break,"[{'id': 1568, 'name': 'undercover'}, {'id': 46...","[{'cast_id': 4, 'character': 'Bodhi', 'credit_...","[{'credit_id': '530ccb429251411435001272', 'de...",133718711
16,766,767,NaN,40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.everybodyloveswhales.com/,tt1430615,en,Big Miracle,"Based on an inspiring true story, a small-town...",...,2/2/12,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A family of whales trapped beneath the ice. On...,Big Miracle,"[{'id': 4676, 'name': 'whale'}, {'id': 9880, '...","[{'cast_id': 1, 'character': 'Rachel Kramer', ...","[{'credit_id': '575adb64c3a36805d8001df8', 'de...",24719215
17,767,768,NaN,20000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.areyousuperbad.com/,tt0829482,en,Superbad,High school best buddies are facing separation...,...,8/17/07,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Come and Get Some!,Superbad,"[{'id': 1412, 'name': 'becoming an adult'}, {'...","[{'cast_id': 1, 'character': 'Seth', 'credit_i...","[{'credit_id': '55d5460392514102c60032c8', 'de...",121463226
18,768,769,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.sonyclassics.com/loveisstrange/,tt2639344,en,Love Is Strange,"After 39 years together, Ben and George finall...",...,2/7/14,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Love Is Strange,"[{'id': 10180, 'name': 'homosexuality'}, {'id'...","[{'cast_id': 5, 'character': 'Ben', 'credit_id...","[{'credit_id': '557590079251414031003f1a', 'de...",2262223
19,769,770,NaN,16000000,"[{'id': 28, 'name': 'Action'}, {'id': 36, 'nam...",NaN,tt0098180,en,Red Scorpion,A Russian KGB agent is sent to Africa to kill ...,...,12/24/88,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They think they control him. Think again.,Red Scorpion,"[{'id': 2052, 'name': 'traitor'}, {'id': 2106,...","[{'cast_id': 1, 'character': 'Lt. Nikolai Rach...","[{'credit_id': '52fe45119251416c7504aa9d', 'de...",4192440
20,770,771,NaN,50000000,"[{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...",http://stxmovies.com/freestateofjones/,tt1124037,en,Free State of Jones,"In 1863, Mississippi farmer Newt Knight serves...",...,6/24/16,139.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Based on the incredible true story.,Free State of Jones,"[{'id': 2831, 'name': 'slavery'}, {'id': 17958...","[{'cast_id': 0, 'character': 'Newton Knight', ...","[{'credit_id': '585122c192514175ad009aba', 'de...",25035950
21,771,772,NaN,9000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://kaminey.utvnet.com/,tt1274295,hi,Kaminey,Guddu and Charlie are identical twins born and...,...,8/14/09,135.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,Thif monfoon. Difcover your mean fide.,Kaminey,"[{'id': 14636, 'name': 'india'}]","[{'cast_id': 1, 'character': 'Charlie / Guddu'...","[{'credit_id': '52fe43f4c3a368484e007b65', 'de...",18130000
22,772,773,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0119381,en,Inventing the Abbotts,"In the 1950s, brothers Jacey and Doug Holt, wh...",...,4/4/97,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When you want it all but can't have it, there'...",Inventing the Abbotts,"[{'id': 1155, 'name': 'brother sister relation...","[{'cast_id': 1, 'character': 'Doug Holt', 'cre...","[{'credit_id': '52fe451b9251416c7504bfc7', 'de...",5926128
23,773,774,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0264802,en,Live Nude Girls Unite!,Documentary look at the 1996-97 effort of the ...,...,10/6/00,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Live Nude Girls Unite!,"[{'id': 582, 'name': 'san francisco'}, {'id': ...",[],"[{'credit_id': '52fe4a249251416c750df26b', 'de...",48752
24,774,775,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,tt0798817,en,13,A naive young man assumes a dead man's identit...,...,3/12/10,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Spin. Aim. Survive.,13,"[{'id': 9714, 'name': 'remake'}, {'id': 33396,...","[{'cast_id': 13, 'character': 'Jasper', 'credi...","[{'credit_id': '52fe46a8c3a36847f810b0cf', 'de...",3317662
25,775,776,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.imax.com/borntobewild/,tt1680059,en,Born to Be Wild,Born to Be Wild observes various orphaned jung...,...,4/8/11,40.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Born to be loved. Born to be free.,Born to Be Wild,"[{'id': 2172, 'name': 'zoo'}, {'id': 2217, 'na...","[{'cast_id': 2, 'character': 'Narrator', 'cred...","[{'credit_id': '52fe47b9c3a36847f8144c43', 'de...",7732325
26,776,777,NaN,130000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0455824,en,Australia,"Set in northern Australia before World War II,...",...,11/18/08,165.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Welcome to Australia!,Australia,"[{'id': 440, 'name': 'missionary'}, {'id': 195...","[{'cast_id': 3, 'character': 'Lady Sarah Ashle...","[{'credit_id': '52fe446cc3a36847f809546f', 'de...",49554002
27,777,778,NaN,150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.thegreatwallmovie.com/,tt2034800,en,The Great Wall,European mercenaries searching for black powde...,...,12/16/16,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,1700 years to build. 5500 miles long. What wer...,The Great Wall,"[{'id': 478, 'name': 'china'}, {'id': 1299, 'n...","[{'cast_id': 2, 'character': 'William Garin', ...","[{'credit_id': '579cfd7a925141066e000ea8', 'de...",331957105
28,778,779,NaN,22500000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.focusfeatures.com/nocturnalanimals,tt4550098,en,Nocturnal Animals,Susan Morrow receives a book manuscript from h...,...,11/4/16,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,When you love someone you can't just throw it ...,Nocturnal Animals,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 2, 'character': 'Susan Morrow', '...","[{'credit_id': '5789ac2ac3a3685134001fd2', 'de...",29252978
29,779,780,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.definitelymaybemovie.com/,tt0832266,en,"Definitely, Maybe",When Will decides to tell his daughter the sto...,...,2/8/08,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Three relationships. Three disasters. One last...,"Definitely, Maybe","[{'id': 725, 'name': 'lovesickness'}, {'id': 2...","[{'cast_id': 1, 'character': 'Will Hayes', 'cr...","[{'credit_id': '52fe44a4c3a36847f80a1deb', 'de...",55447968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,2970,2971,NaN,25000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,tt0103855,en,The Bodyguard,A former Secret Service agent grudgingly takes...,...,11/25/92,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 17, 'character': 'Rachel Marron',...","[{'credit_id': '52fe425ec3a36847f8019133', 'de...",411006740
2221,2971,2972,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,tt0100201,en,Mr. Destiny,Larry Burrows is unhappy and feels powerless o...,...,10/12/90,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Larry Burrows Wished For It All... Until All T...,Mr. Destiny,"[{'id': 4896, 'name': 'wish'}]","[{'cast_id': 1, 'character': 'Larry Burrows', ...","[{'credit_id': '52fe4360c3a36847f804f873', 'de...",15379253
2222,2972,2973,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0482930,cn,龍虎門,Dragon Tiger Gate is a 2006 Hong Kong martial ...,...,7/27/06,94.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Dragon Tiger Gate,"[{'id': 780, 'name': 'kung fu'}]","[{'cast_id': 1, 'character': 'Dragon Wong', 'c...","[{'credit_id': '52fe46869251416c7507b08f', 'de...",8685526
2223,2973,2974,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,tt0089652,en,My Science Project,Michael and Ellie break into a military junkya...,...,8/9/85,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We must not destroy the world.,My Science Project,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 1, 'character': ""Michael 'Mike' H...","[{'credit_id': '52fe476e9251416c75099025', 'de...",4122748
2224,2974,2975,"[{'id': 149704, 'name': 'Alone in the Dark Col...",20000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,tt0369226,en,Alone in the Dark,Edward Carnby is a private investigator specia...,...,1/28/05,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can mankind defeat the army of darkness unleas...,Alone in the Dark,"[{'id': 703, 'name': 'detective'}, {'id': 1299...","[{'cast_id': 12, 'character': 'Edward Carnby',...","[{'credit_id': '52fe44bd9251416c7503f4f1', 'de...",10442808
2225,2975,2976,NaN,45000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.aliensintheatticmovie.com/,tt0775552,en,Aliens in the Attic,"It's summer vacation, but the Pearson family k...",...,7/31/09,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The aliens vs. the Pearsons,Aliens in the Attic,"[{'id': 9951, 'name': 'alien'}, {'id': 10267, ...","[{'cast_id': 4, 'character': 'Tom Pearson', 'c...","[{'credit_id': '537830e40e0a261425003dca', 'de...",57881056
2226,2976,2977,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0186045,en,Drowning Mona,The recently deceased Mona Dearly (Bette Midle...,...,3/3/00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The death of Mona Dearly wasn't so much a whod...,Drowning Mona,"[{'id': 3301, 'name': 'suspicion'}, {'id': 387...","[{'cast_id': 1, 'character': 'Chief Wyatt Rash...","[{'credit_id': '52fe44bbc3a368484e033ccf', 'de...",15427192
2227,2977,2978,NaN,53000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://angeleyesmovie.warnerbros.com/index_nof...,tt0225071,en,Angel Eyes,A story about a seemingly unlikely couple who ...,...,5/15/01,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The deeper you look, the more you will find.",Angel Eyes,"[{'id': 9844, 'name': 'car crash'}, {'id': 150...","[{'cast_id': 1, 'character': 'Sharon Pogue', '...","[{'credit_id': '52fe4427c3a36847f8085447', 'de...",29700000
2228,2978,2979,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt0120879,en,Velvet Goldmine,Almost a decade has elapsed since Bowiesque gl...,...,10/23/98,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Style matters. Even when it comes to murder.,Velvet Goldmine,"[{'id': 237, 'name': 'gay'}, {'id': 1025, 'nam...","[{'cast_id': 2, 'character': 'Curt Wild', 'cre...","[{'credit_id': '52fe4316c3a36847f803946d', 'de...",1053788
2229,2979,2980,NaN,35000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.theback-upplan.com/,tt1212436,en,The Back-Up Plan,"When Zoe tires of looking for Mr. Right, she d...",...,4/23/10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Fall in love, get married, have a baby. Not ne...",The Back-Up Plan,"[{'id': 5091, 'name': 'kiss'}, {'id': 5098, 'n...","[{'cast_id': 22, 'character': 'Zoe', 'credit_i...","[{'credit_id': '52fe457e9251416c91034559', 'de...",77477008
2230,2980,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,...,2/4/16,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000
2231,2981,2982,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt4158876,en,Other People,"David, a struggling comedy writer fresh off fr...",...,9/9/16,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Other People,"[{'id': 234102, 'name': 'misfits'}]","[{'cast_id': 0, 'character': 'David', 'credit_...","[{'credit_id': '57d923309251415959005090', 'de...",93000
2232,2982,2983,NaN,500000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2063781,en,Smashed,Kate and Charlie like to have a good time. The...,...,9/12/12,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Smashed,NaN,"[{'cast_id': 1001, 'character': 'Kate Hannah',...","[{'credit_id': '557455c1c3a3686b7d003df7', 'de...",376597

In [4]:
train_data.columns

Index(['Unnamed: 0', 'id', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

Make a copy of *train_data* and *test_data* for not modifing them.

In [5]:
train_df = train_data.copy()
test_df = test_data.copy()

# checking the ids
np.any((id(train_df) == id(train_data)) and (id(test_df) == id(test_data)))

False

### Preprocess, visualize and analyze data.

### Analyzing the data.

Initialize **Plotter** for plotting with less typing.

In [6]:
plotter = Plotter(colors=['red', 'blue', 'green', 'orange'])

#### Observe json features.

Pick one column, and row and see what kind of keys this particular **json** has.
In this case *id*, *name*, *poster_path* and *backdrop_path*.

In [7]:
train_df['belongs_to_collection'][1]

"[{'id': 5039, 'name': 'Rambo Collection', 'poster_path': '/feGOEOVrOLyjtEnVa88rQLgD3XY.jpg', 'backdrop_path': '/Yt2ZxbJv2HM842B6FNMr59Vhyb.jpg'}]"

#### Because all json columns are simular(every column row is a list with *json* or *dict*) I created *get_json_features* function that will help to process data easier.

*Note that the function is documented, so you can read what is takes and returns.*

In the case of *belongs_to_collection* column we can know all unique *names* that when apper in *belongs_to_collection*, have high *revenue*. Basicaly this will show that in *belongs_to_collection*'s 
*json* file, in this case **James Bond Collection**, **Transformers Collection** are importand features. Note that as the list goes on the features became less and less important.

In [8]:
dict_features = tb.json_to_dict(train_df['belongs_to_collection'].fillna(0))
json_features = tb.get_json_features(dict_features, 
                                     'name', train_df['revenue'])

json_features[:5]

[('James Bond Collection', 3964664449),
 ('Transformers Collection', 3274696147),
 ('The Avengers Collection', 2924961604),
 ('Pirates of the Caribbean Collection', 2661725026),
 ('The Dark Knight Collection', 2463716216)]

We can do the same for *genres* and other columns. First see what kind of *json* keys it has and then find the most relevant keys to use to get the important features. 

In this case *name* is a relevant key, so we take that.

In [9]:
train_df['genres'].iat[0]

"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]"

In [10]:
dict_features = tb.json_to_dict(train_df['genres'].fillna(0))
json_features = tb.get_json_features(dict_features,
                                          'name', train_df['revenue'])

json_features[:5]

[('Action', 64508876116),
 ('Adventure', 59300673110),
 ('Drama', 51785811560),
 ('Comedy', 45082571997),
 ('Thriller', 40206829535)]

In [11]:
train_df['spoken_languages'][0]

"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_639_1': 'pt', 'name': 'Português'}]"

In [12]:
dict_features = tb.json_to_dict(train_df['spoken_languages'].fillna(0))
json_features = tb.get_json_features(dict_features,
                                          'name', train_df['revenue'])

json_features[:8]

[('English', 143982168270),
 ('Español', 15831002978),
 ('Français', 14680505015),
 ('Deutsch', 9271071823),
 ('Italiano', 7616111658),
 ('Pусский', 7570870191),
 ('普通话', 5610380298),
 ('日本語', 3363570933)]

In [13]:
train_df['Keywords'][0]

"[{'id': 1480, 'name': 'baseball'}, {'id': 3419, 'name': 'fanatic'}, {'id': 5625, 'name': 'relationship problems'}, {'id': 6075, 'name': 'sport'}, {'id': 10508, 'name': 'teacher'}, {'id': 155725, 'name': 'red sox'}, {'id': 155726, 'name': 'fenway park'}]"

In [14]:
dict_features = tb.json_to_dict(train_df['Keywords'].fillna(0))
json_features = tb.get_json_features(dict_features,
                                          'name', train_df['revenue'])

json_features[:8]

[('duringcreditsstinger', 20182381809),
 ('aftercreditsstinger', 14767874995),
 ('superhero', 12133112476),
 ('sequel', 11829417536),
 ('3d', 11399169303),
 ('based on comic', 10676394118),
 ('based on novel', 9047438791),
 ('dystopia', 7693155010)]

In [15]:
train_df['cast'][0][:202]

"[{'cast_id': 1, 'character': 'Lindsey Meeks', 'credit_id': '52fe443f9251416c7502df43', 'gender': 1, 'id': 69597, 'name': 'Drew Barrymore', 'order': 0, 'profile_path': '/y8GKPHsBXVGIGBdDzdNxjm0IbKF.jpg'}"

In [16]:
dict_features = tb.json_to_dict(train_df['cast'].fillna(0))
json_features = tb.get_json_features(dict_features,
                                          'name', train_df['revenue'])

f'name', json_features[:10]

('name',
 [('Samuel L. Jackson', 7316018488),
  ('Stan Lee', 6518945480),
  ('Frank Welker', 4982007905),
  ('Jeremy Renner', 4643068839),
  ('Johnny Depp', 4586705934),
  ('Tyrese Gibson', 4410059212),
  ('Judi Dench', 4317926509),
  ('Stellan Skarsg√•rd', 4149023692),
  ('John Turturro', 4140831341),
  ('Shia LaBeouf', 4090590413)])

**Featurize** function for building features.

In [17]:
#valid_y: targets of validation
valid_y = validation["revenue"]

#train_feat: featurize's train data without target
#valid_feat: featurize's validation without target
#train_y: targets of train data
train_feat, valid_feat, train_y = featurize(train_df, validation)

all_train = pd.read_csv('kaggleDataset/train.csv')
#all_train_feat: featurized train_data + validation
#test_feat: featurized test_data
#target: train_y + valid_y
all_train_feat, test_feat, target = featurize(all_train, test_df)

In [18]:

valid_feat.head(5)

,is_from_coll,not_from_coll,budget,popularity,runtime,is_tagline,no_tagline,is_en,not_en,is_homepage,...,duringcreditsstinger,aftercreditsstinger,superhero,sequel,3d,Samuel L. Jackson,Stan Lee,Frank Welker,Jeremy Renner,Johnny Depp
0,1,0,-0.230414,-0.155972,-0.672880,1,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
1,1,0,0.471793,-0.0177114,0.232955,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,-0.5194,4.61308,-0.129379,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,-0.576116,-0.436908,0.640581,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,-0.608526,-0.604363,0.459414,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

## RandomForestRegressor

In [19]:
from sklearn.ensemble import RandomForestRegressor

random_forest = RandomForestRegressor(10)
random_forest.fit(train_feat.values, train_y.values.ravel())

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [20]:
forest_pred = random_forest.predict(valid_feat.values)
tb.root_mean_squared_log_error(np.exp(forest_pred), valid_y.values.ravel())

(2.522810784398995, 2.522810784398995)

## LinearRegression

In [21]:
from sklearn.linear_model import LinearRegression

linear_reg = LinearRegression()
linear_reg.fit(train_feat.values, train_y.values.ravel())

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
linear_reg_pred = linear_reg.predict(valid_feat.values)
tb.root_mean_squared_log_error(np.exp(linear_reg_pred), valid_y.values.ravel())

(2.712594778904466, 2.712594778904466)